html {
    background-image: url("aircraft-1314334.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position-x: left;
    background-position-y: 25%;
    }
    
    body {
    text-align: left;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 22px;
    font-family: 'Noto Sans TC', sans-serif;
    color: white;
    padding-top: 4px;
    }
    
    button {
     background-color: white;
     font-family:'Noto Sans TC', sans-serif;
     text-align: center;
     font-size: 20px;
     color: #696969;
     outline: 1px;
     border:8px;
     border-radius: 15px;
     padding-top: 5px;
     padding-bottom: 10px;
     width: 200px;
    }
     
    #texto {
      font-family: 'Noto Sans TC', sans-serif;
      color: white;
      font-size: 17px;
      text-align: left;
      
    }
    
    #msg1 {
     padding-top: 40px;
     padding-bottom: 40px;
     width: 550px;
    
    }
    #deslocamento {
      padding-top: 7px;
     padding-bottom: 7px;
     width: 250px;
    }